* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homediv {
    padding: 500px;
    background-image: url("/src/images/_Yellow\ Professional\ Gradient\ Tech\ Internal\ Communication\ Website\ \(1\).png");
    background-size: 100%;
}

nav {
    height: 4.2rem;
    background-color: #375d10;
    display: flex;
    justify-content: space-around;
}

.logo {
    color: white;
    margin-top: 1.5vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    position: relative;
    top: 2.5vh;
    width: 50%;
}

.sign {
    color: white;
    padding-top: 1.3rem;
}